.row
    .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3
        h2(translate="invitation.resetPassword.title") Reset Password

        h3(translate="invitation.resetPassword.sendToken") Send Token

        p(translate="invitation.resetPassword.blurb") To reset your password ...

        form(
            name="resetPasswordForm"
            role="form"
            novalidate
            ng-submit="resetPasswordController.sendInvitation()"
        )
            div(csrs-form-group)
                label(
                    for="email-input"
                    translate="invitation.createAccount.email"
                ) Email Address

                .input-group
                    input(
                        id="email-input"
                        csrs-form-control
                        focus-on="email"
                        required
                        type="email"
                        ng-model="resetPasswordController.email"
                    )
                    span.input-group-btn
                        button.btn.btn-primary(type="submit")
                            span.glyphicon.glyphicon-send
                            | &nbsp;
                            span(translate="invitation.resetPassword.sendToken") Send Token 
                
                p(
                    csrs-help-block="email"
                    translate="global.messages.validate.invalid"
                ) Invalid

                p(
                    csrs-help-block="required"
                    translate="global.messages.validate.required"
                ) Required

        .alert.alert-success.text-left(ng-show="resetPasswordController.success")
            h4(translate="invitation.resetPassword.tokenSent") Token Sent
            p(translate="invitation.resetPassword.tokenMessage") Your token has been sent ...
        
        div(csrs-error-occurred="resetPasswordController.serverError")

        p(translate="invitation.resetPassword.createAccount") If you need to create an account ...

        h3(translate="invitation.resetPassword.useToken") Use Token

        p(translate="invitation.resetPassword.useTokenBlurb")
            | If you already have a token to reset your password, paste it below.
            | The key should be a long number.

        form(
            name="useInvitationForm"
            role="form"
            novalidate
            ng-submit="resetPasswordController.checkInvitation()"
        )
            div(csrs-form-group)
                label(
                    for="key-input"
                    translate="invitation.resetPassword.token"
                ) Token
                .input-group
                    input(
                        id="key-input"
                        csrs-form-control
                        required
                        focus-on="key"
                        type="text"
                        ng-model="resetPasswordController.key"
                    )
                    span.input-group-btn
                        button.btn.btn-primary(type="submit")
                            span.glyphicon.glyphicon-tag
                            | &nbsp;
                            span(translate="invitation.resetPassword.useToken") Use Token

                p(
                    csrs-help-block="required"
                    translate="global.messages.validate.required"
                ) Required
