h2(translate="files.title") Images

ul
    li(
        ng-repeat = "file in fileList.files track by file.id"
    )
        a(
            ng-bind = "file.path"
            ui-sref = "files-detail({id: file.id})"
        )

button(
    type="button"
    class="btn btn-success"
    ngf-select
    ng-model="fileList.uploads"
    translate="files.action.select"
) Select file

div(
    ng-repeat="upload in fileList.uploads"
)
    img(
        ngf-src="upload"
    )
    span(
        ng-bind="upload.name"
    )
    button(
        ng-click="fileList.upload(upload)"
        translate="files.action.upload"
    ) Upload
