.template-detail
    h3(translate="templates.detail.title") Template

    form.form-inline(
        name="editForm"
        role="form"
        novalidate
        ng-submit="templateDetail.update()"
    )
        div(csrs-form-group)
            label
                span(translate="templates.code") Code
                input(
                    csrs-form-control
                    type="text"
                    name="code"
                    ng-model="templateDetail.template.code"
                    required
                )

        label
            span(translate="templates.vim") Use vim bindings
            input(
                type="checkbox"
                ng-model="templateDetail.useVim"
            )
        
        .template-editor(
            resizable
            r-directions="['bottom']"
        )
            ui-codemirror(
                ui-codemirror-opts = "templateDetail.codemirrorOptions"
                ng-model = "templateDetail.template.text"
            )

        button(
            type="submit"
            class="btn btn-success"
        ) 
            span(class="glyphicon glyphicon-save")
            | &nbsp;
            span(translate="entity.action.save") Save

    div(csrs-error-occurred="templateDetail.serverError")

