h2(translate="templates.title") Templates

ul
    li(
        ng-repeat = "template in templateListController.templates | orderBy: 'code' track by template.id"
        ng-bind = "template.code"
    )

form(
    name="editForm"
    role="form"
    novalidate
    ng-submit="templateListController.create()"
)
    div(csrs-form-group)
        label
            span(translate="templates.code") Code
            input(
                csrs-form-control
                type="text"
                name="code"
                ng-model="templateListController.template.code"
                required
            )

    button(
        type="submit"
        class="btn btn-success"
    ) 
        span(class="glyphicon glyphicon-save")
        | &nbsp;
        span(translate="entity.action.save") Save

    div(csrs-error-occurred="templateListController.serverError")

