h2(translate="templates.detail.title") Template

form(
    name="editForm"
    role="form"
    novalidate
    ng-submit="templateDetail.update()"
)
    div(csrs-form-group)
        label
            span(translate="templates.code") Code
            input(
                csrs-form-control
                type="text"
                name="code"
                ng-model="templateDetail.template.code"
                required
            )

    div(csrs-form-group)
        label
            span(translate="templates.text") Template
            textarea(
                csrs-form-control
                name="text"
                ng-model="templateDetail.template.text"
                required
            )

    button(
        type="submit"
        class="btn btn-success"
    ) 
        span(class="glyphicon glyphicon-save")
        | &nbsp;
        span(translate="entity.action.save") Save

div(csrs-error-occurred="templateDetail.serverError")

